.carousel {
    width:5px;
    height:300px;
    margin: auto;
  }

  .heading{
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  .carousel > .item > img {
    width: 300px;
    height:300px;
    justify-content: center;
}